.wrapper:hover{
	background: #CD5C5C;
}

.fa-minus {
	margin-left: 10px;
	margin-right: 5px;
}

.fa-minus:hover{
	color: red;
}

.fa-plus{
	margin-left: 5px;
	margin-right: 5px;
}

.fa-plus:hover{
	color: green;
}

.centerize {
    display: block;
    margin: 0 auto;
    text-align: center;
}




