<!-- About view, shows info about us and the app -->
<div class="container text-center px-5 py-3">
    <div class="col-12 py-5">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-12">
        <h2>Developers</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="/img/about/pauhol.jpg" class="img-fluid rounded-circle px-5 mt-5 mb-2" alt="pauhol image">
            <h5>Paulina Hollstrand</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            <a href="https://github.com/pauhol"><i class="fa fa-github mr-1"></i>pauhol</a></br>
            <a href="#!/selectedBeer/Ur6x3s"><i class="fa fa-beer mr-1"></i>Ginger Ale</a>
        </div>
        <div class="col-md-4">
            <img src="/img/about/gukj.jpg" class="img-fluid rounded-circle px-5 mt-5 mb-2" alt="gukj image">
            <h5>Gustav Kjellin</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            <a href="https://github.com/gukj"><i class="fa fa-github mr-1"></i>gukj</a></br>
            <a href="#!/selectedBeer/UEHHoX"><i class="fa fa-beer mr-1"></i>All Day IPA</a>
        </div>
        <div class="col-md-4">
            <img src="/img/about/juliasporre.jpg" class="img-fluid rounded-circle px-5 mt-5 mb-2" alt="juliasporre image">
            <h5>Julia Sporre</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            <a href="https://github.com/juliasporre"><i class="fa fa-github mr-1"></i>juliasporre</a></br>
            <a href="#!/selectedBeer/Wrh3tC"><i class="fa fa-beer mr-1"></i>Brooklyn East IPA</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-2">
            <img src="/img/about/juliavh.jpg" class="img-fluid rounded-circle px-5 mt-5 mb-2" alt="juliavh image">
            <h5>Julia von Heijne</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            <a href="https://github.com/juliavh"><i class="fa fa-github mr-1"></i>juliavh</a></br>
            <a href="#!/selectedBeer/5SjmY0"><i class="fa fa-beer mr-1"></i>Carnegie Porter</a>
        </div>
        <div class="col-md-4">
            <img src="/img/about/emeliewangborg.jpg" class="img-fluid rounded-circle px-5 mt-5 mb-2" alt="emeliewangborg image">
            <h5>Emelie Wängborg</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            <a href="https://github.com/emeliewangborg"><i class="fa fa-github mr-1"></i>emeliewangborg</a></br>
            <a href="#!/selectedBeer/8D1fxC"><i class="fa fa-beer mr-1"></i>Horse Piss</a>
        </div>
    </div>
</div>
