<!-- About view, shows info about us and the app -->
<div class="container text-center px-5 py-3">
    <div class="col-10 offset-1 py-5">
        <h2>About</h2>
        <h5 class="py-2">What is Beers &amp; Beats?</h5>
        <p>Beers &amp; Beats is an application for people who like to listen to music while drinking beer. The intended user likes the combination of drinks and tunes so much, in fact, that he/she would like the music to match the beer.</p>
        <h5 class="py-2">How do you use Beers &amp; Beats?</h5>
        <p>The first thing you do is that you authorize the application with Spotify. After doing so, you can either search for beers or (go crazy and) use the 'Just get me a random beer!'-button (NOT for the faint hearted).
        Once you've pickad a (or several) beers and put them in your beer bag, the application will generate a Spotify playlist based on your drinking preferences. Your current beer bag will of course be saved until next time you login.</p>
        <h5 class="py-2">How do you use it?</h5>
        <p>Go to the <a href="https://developer.spotify.com/web-api/tutorial/">API Tutorial</a> from Spotify to generate your <code>client_id</code>, <code>client_secret</code> and <code>redirect_url</code>.
        After getting them, paste them on line 16 in the <code>app.js</code> file. Then <code>cd</code> into the folder and run <code>npm start</code>. Visit the site at <code>localhost:8888</code></p>
        <h5 class="py-2">What now?</h5>
        <p>Drink beer and enjoy beats.</p>
    </div>
    <div class="col-12">
        <h2>Developers</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="/img/about/pauhol.jpg" class="img-fluid rounded-circle px-5 mt-5 mb-2" alt="pauhol image">
            <h5>Paulina Hollstrand</h5>
            <a href="https://github.com/pauhol"><i class="fa fa-github mr-1"></i>pauhol</a></br>
            <a href="#!/selectedBeer/Ur6x3s"><i class="fa fa-beer mr-1"></i>Ginger Ale</a>
        </div>
        <div class="col-md-4">
            <img src="/img/about/gukj.jpg" class="img-fluid rounded-circle px-5 mt-5 mb-2" alt="gukj image">
            <h5>Gustav Kjellin</h5>
            <a href="https://github.com/gukj"><i class="fa fa-github mr-1"></i>gukj</a></br>
            <a href="#!/selectedBeer/UEHHoX"><i class="fa fa-beer mr-1"></i>All Day IPA</a>
        </div>
        <div class="col-md-4">
            <img src="/img/about/juliasporre.jpg" class="img-fluid rounded-circle px-5 mt-5 mb-2" alt="juliasporre image">
            <h5>Julia Sporre</h5>
            <a href="https://github.com/juliasporre"><i class="fa fa-github mr-1"></i>juliasporre</a></br>
            <a href="#!/selectedBeer/Wrh3tC"><i class="fa fa-beer mr-1"></i>Brooklyn East IPA</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-2">
            <img src="/img/about/juliavh.jpg" class="img-fluid rounded-circle px-5 mt-5 mb-2" alt="juliavh image">
            <h5>Julia von Heijne</h5>
            <a href="https://github.com/juliavh"><i class="fa fa-github mr-1"></i>juliavh</a></br>
            <a href="#!/selectedBeer/5SjmY0"><i class="fa fa-beer mr-1"></i>Carnegie Porter</a>
        </div>
        <div class="col-md-4">
            <img src="/img/about/emeliewangborg.jpg" class="img-fluid rounded-circle px-5 mt-5 mb-2" alt="emeliewangborg image">
            <h5>Emelie Wängborg</h5>
            <a href="https://github.com/emeliewangborg"><i class="fa fa-github mr-1"></i>emeliewangborg</a></br>
            <a href="#!/selectedBeer/8D1fxC"><i class="fa fa-beer mr-1"></i>Horse Piss</a>
        </div>
    </div>
</div>
