<!-- beerBagView,
Sidebar showing the currently selected beers, which also allows the user to remove beers-->
<h3>Beers in BeerBag: {{counting()}} </h3>
<hr>

	<div ng-show="!isLoggedIn()">
	    <div>
				These beers won't be saved unless you <br><a href='/login'>login to Spotify</a>.
				<br><br>
	    </div>
	</div>
</div>
<div class="text-center">
		<div ng-show="empty">
			Drag n' drop ze beer here!
			<br>
		</div>
		<div ng-show="!empty">
		<a href="#!/beer/" class="btn btn-sm btn-primary">Go to Your Beers</a>
		</div>
		<br>
</div>

<!-- Show the beers -->
<div class="dyn-height">

	<div ng-show="!empty" class = "row" ui-draggable="false" drag="beerBag" drag-channel="A" drop-channel="A" ui-on-drop="onDrop()" drop-validate="dropValidate('beerBag', $data)">

		<br>
		<br>
			<div class="col-12">

				<div ng-repeat="beer in beerBag">
				<div class="wrapper">

					<div class = "row">

					    <div class="col-6">
					    	<a href="#!/selectedBeer/{{beer.beer.id}}">
					        	<img img class="card-img-top img-thumbnail" ng-src="{{beer.beer.labels.icon}}"/>
					        </a>

					    </div>
					   	<div class="col-3">
					   		<div class = "row">
				    			<a ng-click="addBeer(beer.beer.id)"><i class="fa fa-plus" aria-hidden="true"></i></a>
				    		</div>
				    		<br>
			         		<div class = "row">
				    			<a ng-click="removeBeer(beer.beer.id)"><i class="fa fa-minus" aria-hidden="true"></i></a>
				    		</div>
			        	</div>
			        	<div class="col-2">
				        	<a class="btn btn-danger" ng-click="deleteBeer(beer.beer.id)">
	  							<i class="fa fa-trash-o" aria-hidden="true"></i>
							</a>
						</div>
					</div>

					    <div class = "row">
					    	<div class = "padding">
					    		{{beer.beer.name}}
			            	</div>
			        	</div>
			        	<div class = "row">
			        		<div class = "padding">
			            		No: {{beer.value}}
			            	</div>
			        	</div>
			        <br>
			    </div>
				</div>
			</div>
		<br>
		<br>
	</div>
</div>


<div ng-init="checked=true" id ="myModal" data-toggle="modal" data-target="#errorModal">
	<span ng-if="checked" class="animate-if">
	 <div class="modal" id="errorModal" role="dialog">
		 <div class="modal-dialog modal-sm">
			 <div class="modal-content">
				 <div class="modal-header">
					 <h6 class="modal-title">You can not use the beer bag without logging in to Spotify. Please log in so we can start to drink beer!</h6>
				 </div>
				 <div class="modal-body">
					 <img img class="card-img-top img-fluid" ng-src="../img/logo.svg" />
			 <div class="text-center pt-5">
				 <ng-include src="'/partials/spotifyAuthView.html'"/>
			 </div>
			</div>
		</div>
	</div>
</div>
	</span>
</div>
