<!--Sidebar showing the currently selected beers, which also allows the user to remove beers-->

<!--
Lägga ut varje element i listan
Göra polaroids som ligger
ha en scroller
-->

<h3>Beer Bag</h3>
<hr>


<!-- Show the beers -->


<div class = "row" ui-draggable="false" drag="beerBag" drag-channel="A" drop-channel="A" ui-on-drop="onDrop()" drop-validate="dropValidate('beerBag', $data)">

		<br>
		<br>


		<div class="col-md-4">
			<div ng-repeat="beer in beerBag">
			    <div class="col-md-4">
			    	<a href="#!/selectedBeer/{{beer.beer.id}}">
			        <img img class="card-img-top img-thumbnail" ng-src="{{beer.beer.labels.icon}}"/>
			        </a>
			    </div>
			</div>
		</div>
		<div class="col-md-3">
			<div ng-repeat="beer in beerBag">
				<div class = "row">
		            {{beer.beer.name}}
		        </div>
		        <div class = "row">
		            No: {{beer.value}}
		        </div>
		        	<div class = "row">
		        		<a ng-click="removeBeer(beer.beer.id)"><i class="fa fa-minus" aria-hidden="true"></i></a>
		        		<a ng-click="addBeer(beer.beer.id)"><i class="fa fa-plus" aria-hidden="true"></i></a>
		        	</div>
		    </div>
		</div>


</div>


<br>
<br>

<div class="centerize">
  <a href="#!/beer/" class="btn btn-sm btn-primary">Go to Your Beer Bag</a>
</div>

