<!-- Landing page -->
<div class="jumbotron">
    <img src="/img/logo.svg" class="d-inline-block align-top pb-5 hidden-sm-down" alt="">
    <h1 class="text-center">Welcome to Beers&amp;Beats!</h1>
    <p>In order for this application to work, it has to access music on Spotify. PLease press the button below to login.</p>
    <!-- Loads Spotify button for authentication -->
    <div class="text-center pt-5">
        <ng-include src="'partials/spotifyAuthView.html'"/>
    </div>
</div>
<!-- END: Landing page -->
