<!-- profileView -->
<h3>Your Profile</h3> <!-- Populates page with data from profileCtrl -->
<div class="container">
	<hr>
	<br>
	<h4>{{profile.display_name}}</h4>
	<br>
	<div class="row">
		<div class="col-4">
			<img class="card-img-top img-thumbnail" ng-src="{{profile.images[0].url}}" />
		</div>
		<div class="col-1"></div>
		<div class="col">
			Username: {{profile.id}}
			<br>
			Email: {{profile.email}}
			<br>
			Conuntry: {{profile.country}}
			<br>
			URI: {{profile.uri}}
		</div>
	</div>

	<!-- Error handling if the user is not loged in with spotify, redirectes to login page-->
	<div ng-init="checked=true" id ="myModal" data-toggle="modal" data-target="#errorModal">
		<span ng-if="checked" class="animate-if">
	   <div class="modal" id="errorModal" role="dialog">
	     <div class="modal-dialog modal-sm">
	       <div class="modal-content">
	         <div class="modal-header">
	           <h4 class="modal-title">{{status}}</h4>
	         </div>
	         <div class="modal-body">
	           <img img class="card-img-top img-fluid" ng-src="../img/logo.svg" />
	         </div>
					<div class="text-center pt-5">
						<ng-include src="'partials/spotifyAuthView.html'"/>
					</div>
	        </div>
	      </div>
	    </div>
	  </span>
	</div>
</div>






<!-- END profileView  -->
