<ng-include src="'partials/beerBagView.html'" ng-controller="beerBagCtrl"></ng-include>
<ng-include src="'partials/playerView.html'" ng-controller="playerCtrl"></ng-include>

<!--Search page that allows the user to search for beers using multiple kinds of input, for example free text, country of origin, alcohol amount per SEK etc.-->

<h3>Search Beers</h3>
<div class="container">
  <div class="row">
      <div class="dropdown">
          <input ng-model="query" />
          <!--<select ng-model="type" name="beerType" ng-change="search(query)">
            <option value="appetizer">Starter</option>
            <option value="main course">Main</option>
            <option value="dessert">Dessert</option>
          </select>-->
          <button ng-click="search(query)" class="btn btn-primary ml-3 my-3" ng-init="checked=true" id ="loading" data-toggle="modal" data-target="#myModal">Find</button>
      </div>
      <button ng-click="search('rnd')" class="btn btn-primary ml-3 my-3" ng-init="checked=true" id ="loading" data-toggle="modal" data-target="#myModal">Just get me a random beer!</button>
  </div>


  <br>
  {{results}}
  <hr>
  <div class="card-columns">
      <div ng-repeat="beer in beers" ng-init"checked=flase" class="card" ui-draggable="true" drag="beer.id" drag-channel="A" drop-channel="A" ui-on-drop="onDrop()" drop-validate="dropValidate(beer.id, $data)">
          <a href="#!/selectedBeer/{{beer.id}}">
              <img img class="card-img-top img-fluid" ng-src="{{beer.labels.large}}" />
          </a>
          <div class="card-block">
              <h6 class="card-title">{{beer.name}}</h6>
              <a href="#!/selectedBeer/{{beer.id}}" class="btn btn-sm btn-primary">View more</a>
              <button ng-click="addBeer(beer.id)" class="btn btn-sm btn-primary">Add Beer</button>
          </div>
      </div>
  </div>



  <span ng-if="checked" class="animate-if">
    <div class="modal" id="myModal" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{status}}</h4>
          </div>
          <div class="modal-body">
            <img img class="card-img-top img-fluid" ng-src="../img/loading-beer.gif" />
          </div>
            <button type="button" class="btn btn-primary" ng-click="cancelAPICall()" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </span>
</div>
