<!-- Styling for login window, changes based on state in spotifyAuth.js -->
<style type="text/css">
    #login,
    #loggedin {
        display: none;
    }

    .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
    }
</style>
<!-- Spotify authentication window -->
<div class="container">
    <div id="login">
        <div class="col-md-5">
            <br>
            <div class="card w-75">
                <div class="card-block">
                    <h3 class="card-title">BLABLABLA</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    Start with login in to Spotify to use the service:
                    <br>
                    <a href="/login" class="btn btn-primary">Log in with Spotify</a>
                </div>
            </div>
        </div>

    </div>
    <div id="loggedin">
        <div id="user-profile">
        </div>
        <div id="oauth">
        </div>
        <button class="btn btn-default" id="obtain-new-token">Obtain new token using the refresh token</button>
    </div>
</div>

<!-- js for Spotify Authentication -->
<script src="js/spotify/userProfileTemplate.js" id="user-profile-template" type="text/x-handlebars-template"></script>
<script src="js/spotify/oAuthInfo.js" id="oauth-template" type="text/x-handlebars-template"></script>
<script src="js/spotify/spotifyAuth.js"></script>
